.question-list-body{
	display: flex;
	border: 1px solid black;
	width: 800px;
	flex-wrap: wrap;
}

.question-list-body > div{
	border: 1px solid black;
	width: 350px;
	margin: 10px;
}

/* 검색결과 리스트 */
.result-box{
	display: flex;
	cursor: pointer;
}