.section{
	display: flex;
	justify-content: center;
	width: 100%;
}
.absolute-left{
	width: 200px;
	
}
.absolute-left ul li{
	padding: 0;
}
.absolute-left ul li a{
	padding: 0.75rem 1.25rem;
	display: block;
	color: black;
}
.main-section{
	width: 500px;
	padding: 10px;
	margin-left: 150px;
}