@charset "UTF-8";

* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  position: relative;
}

/* 영역 확인용 박스 */
.box {
	border : 1px solid black;
}

/* 몸통 전체적으로 감싸고 있는 섹션 */
.content {
	background-color : #F5F5F5;
	width : 100%;
	height : 800px;
	position : relative;
}

/* 왼쪽 섹션 */

.box1 {
  width: 35%;
  height: 100%;
  float: left;
  position: relative;
  text-align: center;
  padding : 50px;
}

/*가운데, 오른쪽 섹션 공통*/
.box2,.box3{
  width : 30%;
  height: 600px;
  float: left;
  position: relative;
  text-align: center;
}

/* 가운데 */
.box2 {
  width : 35%;
}

/* 가운데 검색창 */

.box2 h3{
  text-align: left;
  margin: 20px;
  margin-left: 50px;
}

.search_box {
  width : 100%;
  height: 130px;
}

/* 가운데 가계부 내역 리스트 */
.income {
  color : green;
}

.expense {
  color : rgb(195, 16, 16)
}

#account_list {
  width : 80%;
  height: 490px;
  margin:auto;
}

#account_list table {
  width : 100%;
  height: 50px;
  margin: auto;
}

.account_list table td:nth-child(3) {
  font-size: 20px;
}


/* 오른쪽 섹션 */
.account{
  position: relative;
  width: 100%;
  height: 60%;
}

.account-info {
  display: inline-block;
  position: relative;
  top : 50px;
  font-size: 25px;
}

.account-info td {
  height: 30px;
  width : 150px;
}

.account-info tr:nth-child(3) {
  height: 80px;
  font-size: 30px;
}

.account-info tr:nth-child(4) {
  height: 50px;
}


/* 거래내역 입력하기 버튼 */
#btn1{
  width : 300px;
  height: 150px;
  position: relative;
  bottom: -20px;
  background : rgba(225, 225, 225, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border : 1px solid rgba(225, 225, 225, 0.5);
  border-radius: 10px;
}

#btn1:hover {
  cursor : pointer;
  border : 1px solid gray;
}


.plus {
	color : lightgray;
	margin : 15px;
}


.insertAccount {
	width : 450px;
	height : 600px;
	text-align : center;
}

.w_date {
	width : 50px;
	height : 50px;
}

.btn_t{
	width : 100px;
	height : 80px;
}

.radioBtn{
	width : 100px;
	height : 100px;
}

#income_radio{
	visibility : hidden;
	width : 50px;
	height : 20px;
}


/* 모달 관련 */
.modal-background{
  background-color: rgba(0, 0, 0, 0.5);
  position : fixed;
  z-index : 5;
  width : 100%;
  height : 100%;
  display : none;
  margin : 0;
  padding : 0;
}

.insertAccountModal{
  background-color: #fff;
  width : 40%;
  margin : 100px auto;
  padding : 20px;
  border-radius: 10px;
  position : relative;
}

#modalCloseBtn{
	position : absolute;
	top : 20px;
	right : 30px;
	background : white;
	border : none;
	font-size : 20px;
}

#modalCloseBtn:hover {
	cursor : pointer;
}
