<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">
	<select id="selectCultureCommentList" resultType="comment">
		select
			*
		from
			comments
		where
			api_code = #{api_code}
	</select>
	<insert id="insertCultureComment" parameterType="comment">
		insert into
				comments(code, comment_level, content, reg_date, comment_ref, id, api_code, star)
			values(
				seq_comments_no.nextval,
				#{comment_level},
				#{content},
				#{reg_date},
				#{comment_ref},
				#{id},
				#{api_code},
				#{star}
			)
	</insert>
</mapper>

