charset "UTF-8";

body {font-family:"휴먼모음T";}
.head-header{padding:10px;}
.head-header nav{padding:10px;}
/********** 전체컨테이너 **********/
div#container {
	padding: 10px;
}

/********** header **********/
.head-header div#header-container {height:80px;}
.head-header div#header-container h2 	{margin:30px 10px 0px 10px;}
nav {height:60px;}

/********** content **********/
section#content		{min-height:600px;}
#sign-out{border:0; background-color:#F8F9Fa; cursor:pointer;}

/********** footer **********/
.main-footer	{background-color:#f8f9fa; background-clip:content-box; clear:both; height:95px; text-align:center;}
.main-footer p 	{margin-top:30px;} 