@charset "UTF-8";

@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  position: relative;
  /* font-family: 'GongGothicMedium'; */
  /* font-family: 'SLEIGothicTTF'; */
  /* font-family: 'Pretendard-Regular'; */
  /* font-family: 'OTWelcomeRA'; */
  font-family: 'SUIT-Medium';
}

.box {
  border : 1px solid black;
}

.wrapper {
  width : 100%;
  height : 100vh;
  background-color: #F2F2E6;
  /* background-color: #fffff7; */
  position : relative;
}

/* 사이드 nav */
.header{
  width : 13%;
  height : 100vh;
  background-color: #0A1F33; 
  overflow: auto;
  /* display : inline-block; */
  float : left;
  z-index : 50;
  letter-spacing : 2px;
}
::-webkit-scrollbar {
  display: none !important;
}

.logo {
  font-size: 2rem;
  display: inline-flex;
  text-align: center;
  margin : 25px;
  margin-top: 50px;
  letter-spacing: 5px;
  
}

.header a, .header li {
  color : rgb(228, 226, 226);
  text-decoration: none;
  padding : 5px;
}

.header i {
	padding-right : 5px;
}

.header ul {
  list-style-type: none;
  margin : 10px 0px;
}

.main-nav li, .help-nav li, .menu-nav li{
  padding : 12px;
  font-size : 20px;
}

.active {
/*   background-color: #f2f2e65e;
 */  background-color: white;
  border-radius: 20px;
}

.active a {
  /* color : rgb(248, 239, 160); */
   color : #38383b; 
}

/* 상단 헤더 - 프로필부분 */

.nadaum-header {
	width : 85%;
	height : 80px;
	display : inline-block;
	clear : both;
	text-align : right;
	padding : 20px;
 	position : sticky; 
 	top : 0;
}

.user-factors {
	display : inline-flex;
 	margin : 0px 10px; 
}

.accountWrapper {
	width : 87%;
	height : 89vh;
	overflow : auto;
}

.personal-main:hover, .culture-main:hover {
	cursor : pointer;
}

.personal-main i, .culture-main i {
	padding : 5px;
}

.personal-sub, .culture-sub{
	display : none;
	font-size : 15px;
}

.personal-sub li, .culture-sub li {
	font-size : 15px;
	margin-left : 40px;
}

.help-nav li {
	float : right;
	margin-top : 20px;
} 

.help-nav a {
	font-size : 15px;
}