<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="accountbook">

	<insert id = "insertAccount">
		insert into 
			account_book
		values(
			concat('ab-', seq_account_book_no.nextval),
			#{id},
			#{detail},
			#{price},
			#{reg_date},
			#{income_expense},
			#{payment},
			0
		)	
	</insert>
	
	<delete id="deleteAccount">
		delete
			account_book
		where
			code = #{code}
	</delete>
	
	<select id="selectAllAccountList" resultMap="accountbookMap">
		select
    		*
    	from 
    		account_book
    	order by
    		reg_date desc
	</select>
	
	
	
	<resultMap type="Map" id="accountbookMap">
		<id column="code" property="code"/>
		<result column="id" property="id"/>
		<result column="detail" property="detail"/>
		<result column="price" property="price"/>
		<result column="reg_date" property="regDate"/>
		<result column="income_expense" property="incomeExpense"/>
		<result column="payment" property="payment"/>
		<result column="goal" property="goal"/>
	</resultMap>

</mapper>

