<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="accountbook">

	<insert id = "insertAccount">
		insert into 
			account_book
		values(
			concat('ab-', seq_account_book_no.nextval),
			seq_account_book_no.nextval,
			#{detail},
			#{price},
			#{reg_date},
			#{income_expense},
			#{payment},
			0
		)	
	</insert>

</mapper>

