<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	
	<select id="selectTotalContent" resultType="_int">
		select
			count(*)
		from
			board
	</select>
	
	<select id="selectOneBoard" resultType="board">
		select 
			*
		from
			board
		where
			code = #{code}	
	</select>
	
	<resultMap type="board" id="board">
		<result column="code" property="code"/>
		<result column="title" property="title"/>
		<result column="start_date" property="start_date"/>
		<result column="end_date" property="end_date"/>
		<result column="area" property="area"/>
		<result column="place" property="place"/>
		<result column="realm_name" property="realm_name"/>
		<result column="img_url" property="img_url"/>
		<result column="gps_x" property="gps_x"/>
		<result column="gps_y" property="gps_y"/>
	</resultMap>
	
	
</mapper>















